<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>strip save</string>
	<key>ordering</key>
	<array>
		<string>C5B7D62C-BED8-49BA-BB94-E1534BF3A694</string>
	</array>
	<key>uuid</key>
	<string>2E6CF12A-850F-495F-AFDC-48B25673384F</string>
</dict>
</plist>
